
.App {

  &.locked {

  }

  & .lockscreen {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

}

.callout {
	&-image {}

	&-image + &-title {
		margin-top: 15px;
	}
}
